h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #e7ae5e;
}

h2 {
  margin-left: 0;
  margin-top: 33px;
}

h1 {
  margin-bottom: 28px;
}

#contacts {
  color: #e7ae5e;
}

form {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

input {
  padding: 6px 12px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 6px;
  list-style-type: none;
  outline: 1px solid #dcc9ae;
}

body {
  background-color: #fbf8f3;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  width: 480px;
  margin: 60px auto;
  background-color: #f1e7d8;
  border-radius: 10px;
  border: #e9d8c0 4px solid;
}

.delete-btn,
.edit-btn {
  background-color: #e6b672;
  color: #fff;
  border-color: transparent;
  border-radius: 6px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-color: transparent;
}

#delete-all-btn {
  background-color: rgb(237, 81, 81);
  margin-left: 5px;
}

#delete-all-btn:hover,
#delete-all-btn:focus {
  background-color: rgb(216, 50, 50);
}

#add-btn {
  background-color: #e6b672;
}

#add-btn:hover,
#add-btn:focus {
  background-color: #e8a03c;
}

#error-message,
#message {
  color: rgb(239, 76, 76);
  margin-top: 4px;
}

#message {
  margin-left: 41px;
}

#contacts li {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 10px;
  display: flex;
}

#contacts li input {
  margin-right: 12px; /* Justera mellanrummet mellan namn och nummer */
}

#contacts li button {
  margin-left: 12px; /* Justera mellanrummet mellan nummer och knappar */
}

@media screen and (max-width: 700px) {
  h1,
  h2 {
    font-size: 24px;
  }

  h1 {
    margin: 7px 0;
  }

  h2 {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  #wrapper {
    padding: 10px;
    width: 80%;
    margin: 20px 0;
  }

  form {
    flex-direction: column;
  }

  input {
    width: 80%;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .button {
    width: 25%; /* Ändra bredden för knappar så att de täcker hela bredden */
    margin: 8px 0;
  }

  #message {
    margin-left: 0;
  }

  #contacts {
    width: 80%; /* Ändra bredden för kontakter så att de täcker hela bredden */
  }

  #contacts li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -20px;
  }

  #contacts li button {
    width: 80%;
    margin-top: 10px;
    margin-left: -14px;
  }
}
