h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #e7ae5e;
}

h2 {
  margin-left: 0;
  margin-top: 33px;
}

h1 {
  margin-bottom: 28px;
}

#contacts {
  color: #e7ae5e;
}

form {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

input {
  padding: 6px 12px; 
  border: 1px solid grey;
  border-radius: 6px;
}

input:focus {
  outline: 1px solid #e7ae5e;
  border-color: #e7ae5e;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 700px;
  margin: 40px auto;
}

.button {
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  padding: 12px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-color: transparent;
}

#delete-all-btn {
  background-color: rgb(237, 81, 81);
}

#delete-all-btn:hover,
#delete-all-btn:focus {
  background-color: rgb(216, 50, 50);
}

#add-btn {
  background-color: #e6b672;
}

#add-btn:hover,
#add-btn:focus {
  background-color: #e8a03c;
}

#error-message,
#message {
  color: rgb(239, 76, 76);
  margin-top: 4px;
}

#message {
  margin-left: 41px;
}


@media screen and (max-width: 700px) {
  h1, h2 {
    font-size: 24px; 
  }

  h1 {
    margin: 7px 0;
  } 

  h2 {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  #wrapper {
    padding: 0px; 
    width: 100%; 
    margin: 20px 0; 
  }

  form {
    flex-direction: column;
  }

  input {
    width: 100%; 
    margin-top: 8px;
    margin-bottom: 10px; 
  }

  #btn-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 25%; 
    margin: 8px 0;
  }

  #message {
    margin-left: 0; 
  }

  #contacts {
    color: #e7ae5e;
  }

  #contacts {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    list-style-type: none;
  }

  li {
    margin-top: 0;
  }

  #contacts button {
    width: 48%; 
    flex-direction: row; 
    justify-content: space-between;
    margin: 5px 0px;

  }

  header {
    width: 50%;
    margin-left: 0;

  }

  section {
    width: 100%;
    margin-left: 110px;
    margin-top: -6px;
  }
}






